{% macro render(current, total_pages, base_query) %}
  {% if total_pages > 1 %}
    <div class="join mt-6">
      {% if current > 1 %}
        <a
          class="join-item btn btn-sm"
          href="?{{ base_query }}{% if base_query %}&{% endif %}page={{ current - 1 }}"
          >«</a
        >
      {% else %}
        <button class="join-item btn btn-sm btn-disabled" disabled>«</button>
      {% endif %}

      {% for n in range(end=total_pages) %}
        {% set page_num = n + 1 %}
        {% if page_num == current %}
          <button class="join-item btn btn-sm btn-primary" disabled>
            {{ page_num }}
          </button>
        {% else %}
          <a
            class="join-item btn btn-sm"
            href="?{{ base_query }}{% if base_query %}&{% endif %}page={{ page_num }}"
            >{{ page_num }}</a
          >
        {% endif %}
      {% endfor %}

      {% if current < total_pages %}
        <a
          class="join-item btn btn-sm"
          href="?{{ base_query }}{% if base_query %}&{% endif %}page={{ current + 1 }}"
          >»</a
        >
      {% else %}
        <button class="join-item btn btn-sm btn-disabled" disabled>»</button>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}
