{% extends "partials/form_page.html" %}

{% block form_fields %}
  <label class="label" for="name">Name</label>
  <input
    type="text"
    id="name"
    name="name"
    value="{% if party %}{{ party.name }}{% endif %}"
    class="input w-full"
    required
  />

  <label class="label" for="company">Company</label>
  <input
    type="text"
    id="company"
    name="company"
    value="{% if party %}{{ party.company }}{% endif %}"
    placeholder="Optional"
    class="input w-full"
  />

  <label class="label" for="email">Email</label>
  <input
    type="email"
    id="email"
    name="email"
    value="{% if party %}{{ party.email }}{% endif %}"
    class="input w-full"
    required
  />

  <label class="label" for="phone">Phone</label>
  <input
    type="text"
    id="phone"
    name="phone"
    value="{% if party %}{{ party.phone }}{% endif %}"
    class="input w-full"
    required
  />

  <label class="label" for="address">Address</label>
  <textarea id="address" name="address" class="textarea w-full" required>
{% if party %}{{ party.address }}{% endif %}</textarea
  >

  <label class="label" for="party_type">Party Type</label>
  <select id="party_type" name="party_type" class="select w-full" required>
    {% for opt in party_types %}
      <option
        value="{{ opt }}"
        {% if party and party.party_type == opt %}selected{% endif %}
      >
        {{ opt }}
      </option>
    {% endfor %}
  </select>
{% endblock %}
