<!doctype html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>

    {% match message %} {% when Some with (msg) %}
    <p style="color: red">{{ msg }}</p>
    {% when None %} {% endmatch %}

    <form action="/login" method="post">
      <label>Username:</label>
      <input type="text" name="username" required />
      <br /><br />
      <label>Password:</label>
      <input type="password" name="password" required />
      <br /><br />
      <button type="submit">Login</button>
    </form>
  </body>
</html>
